################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Our.Umbraco.DynamicImages/bin/Debug
*.suo
/Our.Umbraco.DynamicImages/obj/Debug
/packages
*.nupkg
